%table.states-table.table
  %thead
    %tr
      %th.unsortable
        %a.mw-redirect{:href => "/wiki/Flags_of_Brazilian_states", :title => "Flags of Brazilian states"} Flag
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"} Name
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a{:href => "/wiki/ISO_3166-2:BR", :title => "ISO 3166-2:BR"} Abbreviation
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a.mw-redirect{:href => "/wiki/List_of_capitals_of_Brazil", :title => "List of capitals of Brazil"} Capital
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a.mw-redirect{:href => "/wiki/List_of_the_states_of_Brazil_by_area", :title => "List of the states of Brazil by area"} Area km2
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a.mw-redirect{:href => "/wiki/List_of_the_states_of_Brazil_by_area", :title => "List of the states of Brazil by area"} Area sq mi
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a{:href => "/wiki/List_of_Brazilian_states_by_population", :title => "List of Brazilian states by population"} Population 2014
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a.mw-redirect{:href => "/wiki/List_of_the_states_of_Brazil_by_population_density", :title => "List of the states of Brazil by population density"} Density per km 2, 2014
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a.mw-redirect{:href => "/wiki/List_of_the_states_of_Brazil_by_population_density", :title => "List of the states of Brazil by population density"} Density per sq mi, 2014
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a{:href => "/wiki/List_of_Brazilian_federative_units_by_gross_domestic_product", :title => "List of Brazilian federative units by gross domestic product"} GDP billion total, 2012
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a{:href => "/wiki/List_of_Brazilian_federative_units_by_gross_domestic_product", :title => "List of Brazilian federative units by gross domestic product"} GDP per capita, 2012
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a{:href => "/wiki/List_of_Brazilian_federative_units_by_Human_Development_Index", :title => "List of Brazilian federative units by Human Development Index"} HDI 2010
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a.mw-redirect{:href => "/wiki/List_of_the_states_of_Brazil_by_literacy_rate", :title => "List of the states of Brazil by literacy rate"} Literacy 2014
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a.mw-redirect{:href => "/wiki/List_of_the_states_of_Brazil_by_infant_mortality", :title => "List of the states of Brazil by infant mortality"} Infant mortality 2014
      %th.headerSort{:role => "columnheader button", :tabindex => "0", :title => "Sort ascending"}
        %a{:href => "/wiki/List_of_Brazilian_states_by_life_expectancy", :title => "List of Brazilian states by life expectancy"} Life expectancy years, 2014
  %tbody
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Acre.svg"}
          %img.thumbborder{:alt => "Bandeira do Acre.svg", "data-file-height" => "350", "data-file-width" => "500", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Bandeira_do_Acre.svg/45px-Bandeira_do_Acre.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Bandeira_do_Acre.svg/68px-Bandeira_do_Acre.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Bandeira_do_Acre.svg/90px-Bandeira_do_Acre.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Acre_(state)", :title => "Acre (state)"} Acre
      %td AC
      %td
        %a{:href => "/wiki/Rio_Branco,_Acre", :title => "Rio Branco, Acre"} Rio Branco
      %td
        %span.sortkey{:style => "display:none"}> 70051525814
        152,581.4
      %td
        %span.sortkey{:style => "display:none"}> 70045891200
        58,912
      %td
        %span.sortkey{:style => "display:none"}> 70057901010
        790,101
      %td
        %span.sortkey{:style => "display:none"}> 70004470
        4.47
      %td
        %span.sortkey{:style => "display:none"}> 70011300
        13
      %td
        %span.sortkey{:style => "display:none"}> 70009629
        9.629 (
        %span.sortkey{:style => "display:none"}> 69992000
        0.2%)
      %td
        %span.sortkey{:style => "display:none"}> 70041269
        12,690
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996630
          0.663
      %td 94%
      %td
        %span.sortkey{:style => "display:none"}> 70001600
        1.6%
      %td
        %span.sortkey{:style => "display:none"}> 70017540
        75.4
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Alagoas.svg"}
          %img.thumbborder{:alt => "Bandeira de Alagoas.svg", "data-file-height" => "400", "data-file-width" => "600", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bandeira_de_Alagoas.svg/45px-Bandeira_de_Alagoas.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bandeira_de_Alagoas.svg/68px-Bandeira_de_Alagoas.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bandeira_de_Alagoas.svg/90px-Bandeira_de_Alagoas.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Alagoas", :title => "Alagoas"} Alagoas
      %td AL
      %td
        %a{:href => "/wiki/Macei%C3%B3", :title => "Maceió"} Maceió
      %td
        %span.sortkey{:style => "display:none"}> 70042776770
        27,767.7
      %td
        %span.sortkey{:style => "display:none"}> 70041072100
        10,721
      %td
        %span.sortkey{:style => "display:none"}> 70063321730
        3,321,730
      %td
        %span.sortkey{:style => "display:none"}> 70021123
        112.3
      %td
        %span.sortkey{:style => "display:none"}> 70023090
        309
      %td
        %span.sortkey{:style => "display:none"}> 70012954500
        29.545 (
        %span.sortkey{:style => "display:none"}> 69997000
        0.7%)
      %td
        %span.sortkey{:style => "display:none"}> 70039333
        9,333
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996310
          0.631
      %td 90%
      %td
        %span.sortkey{:style => "display:none"}> 70001700
        1.7%
      %td
        %span.sortkey{:style => "display:none"}> 70017350
        73.5
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Amap%C3%A1.svg"}
          %img.thumbborder{:alt => "Bandeira do Amapá.svg", "data-file-height" => "700", "data-file-width" => "1000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Bandeira_do_Amap%C3%A1.svg/45px-Bandeira_do_Amap%C3%A1.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Bandeira_do_Amap%C3%A1.svg/68px-Bandeira_do_Amap%C3%A1.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Bandeira_do_Amap%C3%A1.svg/90px-Bandeira_do_Amap%C3%A1.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Amap%C3%A1", :title => "Amapá"} Amapá
      %td AP
      %td
        %a{:href => "/wiki/Macap%C3%A1", :title => "Macapá"} Macapá
      %td
        %span.sortkey{:style => "display:none"}> 70051428146
        142,814.6
      %td
        %span.sortkey{:style => "display:none"}> 70045515100
        55,151
      %td
        %span.sortkey{:style => "display:none"}> 70057509120
        750,912
      %td
        %span.sortkey{:style => "display:none"}> 70004690
        4.69
      %td
        %span.sortkey{:style => "display:none"}> 70011300
        13
      %td
        %span.sortkey{:style => "display:none"}> 70011042
        10.420 (
        %span.sortkey{:style => "display:none"}> 69992000
        0.2%)
      %td
        %span.sortkey{:style => "display:none"}> 70041491400
        14,914
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997080
          0.708
      %td 99%
      %td
        %span.sortkey{:style => "display:none"}> 70001600
        1.6%
      %td
        %span.sortkey{:style => "display:none"}> 70017540
        75.4
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Amazonas.svg"}
          %img.thumbborder{:alt => "Bandeira do Amazonas.svg", "data-file-height" => "500", "data-file-width" => "700", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Bandeira_do_Amazonas.svg/45px-Bandeira_do_Amazonas.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Bandeira_do_Amazonas.svg/68px-Bandeira_do_Amazonas.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Bandeira_do_Amazonas.svg/90px-Bandeira_do_Amazonas.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Amazonas_(Brazilian_state)", :title => "Amazonas (Brazilian state)"} Amazonas
      %td AM
      %td
        %a{:href => "/wiki/Manaus", :title => "Manaus"} Manaus
      %td
        %span.sortkey{:style => "display:none"}> 700615707457
        1,570,745.7
      %td
        %span.sortkey{:style => "display:none"}> 70056064700
        606,470
      %td
        %span.sortkey{:style => "display:none"}> 70063873743
        3,873,743
      %td
        %span.sortkey{:style => "display:none"}> 70002230
        2.23
      %td
        %span.sortkey{:style => "display:none"}> 70006000
        6
      %td
        %span.sortkey{:style => "display:none"}> 70016412
        64.120 (
        %span.sortkey{:style => "display:none"}> 70001700
        1.7%)
      %td
        %span.sortkey{:style => "display:none"}> 70041785500
        17,855
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996740
          0.674
      %td 96%
      %td
        %span.sortkey{:style => "display:none"}> 70001900
        1.9%
      %td
        %span.sortkey{:style => "display:none"}> 70017370
        73.7
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_da_Bahia.svg"}
          %img.thumbborder{:alt => "Bandeira da Bahia.svg", "data-file-height" => "1000", "data-file-width" => "1500", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/2/28/Bandeira_da_Bahia.svg/45px-Bandeira_da_Bahia.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/2/28/Bandeira_da_Bahia.svg/68px-Bandeira_da_Bahia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/28/Bandeira_da_Bahia.svg/90px-Bandeira_da_Bahia.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Bahia", :title => "Bahia"} Bahia
      %td BA
      %td
        %a.mw-redirect{:href => "/wiki/Salvador,_Brazil", :title => "Salvador, Brazil"} Salvador
      %td
        %span.sortkey{:style => "display:none"}> 70055646927
        564,692.7
      %td
        %span.sortkey{:style => "display:none"}> 70052180300
        218,030
      %td
        %span.sortkey{:style => "display:none"}> 700715126371
        15,126,371
      %td
        %span.sortkey{:style => "display:none"}> 70012482
        24.82
      %td
        %span.sortkey{:style => "display:none"}> 70016900
        69
      %td
        %span.sortkey{:style => "display:none"}> 70021677270
        167.727 (
        %span.sortkey{:style => "display:none"}> 70003800
        3.8%)
      %td
        %span.sortkey{:style => "display:none"}> 70041183200
        11,832
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996600
          0.660
      %td 91%
      %td
        %span.sortkey{:style => "display:none"}> 70002000
        2.0%
      %td
        %span.sortkey{:style => "display:none"}> 70017430
        74.3
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Cear%C3%A1.svg"}
          %img.thumbborder{:alt => "Bandeira do Ceará.svg", "data-file-height" => "504", "data-file-width" => "720", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Bandeira_do_Cear%C3%A1.svg/45px-Bandeira_do_Cear%C3%A1.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Bandeira_do_Cear%C3%A1.svg/68px-Bandeira_do_Cear%C3%A1.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Bandeira_do_Cear%C3%A1.svg/90px-Bandeira_do_Cear%C3%A1.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Cear%C3%A1", :title => "Ceará"} Ceará
      %td CE
      %td
        %a{:href => "/wiki/Fortaleza", :title => "Fortaleza"} Fortaleza
      %td
        %span.sortkey{:style => "display:none"}> 70051488256
        148,825.6
      %td
        %span.sortkey{:style => "display:none"}> 70045746200
        57,462
      %td
        %span.sortkey{:style => "display:none"}> 70068842791
        8,842,791
      %td
        %span.sortkey{:style => "display:none"}> 70015680
        56.8
      %td
        %span.sortkey{:style => "display:none"}> 70021530
        153
      %td
        %span.sortkey{:style => "display:none"}> 70019013200
        90.132 (
        %span.sortkey{:style => "display:none"}> 70002000
        2.0%)
      %td
        %span.sortkey{:style => "display:none"}> 70041047300
        10,473
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996820
          0.682
      %td 93%
      %td
        %span.sortkey{:style => "display:none"}> 70001650
        1.65%
      %td
        %span.sortkey{:style => "display:none"}> 70017490
        74.9
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Distrito_Federal_(Brasil).svg"}
          %img.thumbborder{:alt => "Bandeira do Distrito Federal (Brasil).svg", "data-file-height" => "1050", "data-file-width" => "1500", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Bandeira_do_Distrito_Federal_%28Brasil%29.svg/45px-Bandeira_do_Distrito_Federal_%28Brasil%29.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Bandeira_do_Distrito_Federal_%28Brasil%29.svg/68px-Bandeira_do_Distrito_Federal_%28Brasil%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Bandeira_do_Distrito_Federal_%28Brasil%29.svg/90px-Bandeira_do_Distrito_Federal_%28Brasil%29.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Federal_District_(Brazil)", :title => "Federal District (Brazil)"} Distrito Federal
      %td DF
      %td
        %a{:href => "/wiki/Bras%C3%ADlia", :title => "Brasília"} Brasília
      %td
        %span.sortkey{:style => "display:none"}> 70035822100
        5,822.1
      %td
        %span.sortkey{:style => "display:none"}> 70032249900
        2,249.9
      %td
        %span.sortkey{:style => "display:none"}> 70062852372
        2,852,372
      %td
        %span.sortkey{:style => "display:none"}> 70024446600
        444.66
      %td
        %span.sortkey{:style => "display:none"}> 70031268
        1,268
      %td
        %span.sortkey{:style => "display:none"}> 70021712360
        171.236 (
        %span.sortkey{:style => "display:none"}> 70003900
        3.9%)
      %td
        %span.sortkey{:style => "display:none"}> 70046465300
        64,653
      %td
        %span{:style => "color:#3399FF;"}
          %span.sortkey{:style => "display:none"}> 69998240
          0.824
      %td 98.8%
      %td
        %span.sortkey{:style => "display:none"}> 69996500
        0.65%
      %td
        %span.sortkey{:style => "display:none"}> 70017980
        79.8
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Esp%C3%ADrito_Santo.svg"}
          %img.thumbborder{:alt => "Bandeira do Espírito Santo.svg", "data-file-height" => "1400", "data-file-width" => "2000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/4/43/Bandeira_do_Esp%C3%ADrito_Santo.svg/45px-Bandeira_do_Esp%C3%ADrito_Santo.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/4/43/Bandeira_do_Esp%C3%ADrito_Santo.svg/68px-Bandeira_do_Esp%C3%ADrito_Santo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/43/Bandeira_do_Esp%C3%ADrito_Santo.svg/90px-Bandeira_do_Esp%C3%ADrito_Santo.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Esp%C3%ADrito_Santo", :title => "Espírito Santo"} Espírito Santo
      %td ES
      %td
        %a.mw-redirect{:href => "/wiki/Vit%C3%B3ria,_Brazil", :title => "Vitória, Brazil"} Vitória
      %td
        %span.sortkey{:style => "display:none"}> 70044607750
        46,077.5
      %td
        %span.sortkey{:style => "display:none"}> 70041779100
        17,791
      %td
        %span.sortkey{:style => "display:none"}> 70063885049
        3,885,049
      %td
        %span.sortkey{:style => "display:none"}> 70017625
        76.25
      %td
        %span.sortkey{:style => "display:none"}> 70022180
        218
      %td
        %span.sortkey{:style => "display:none"}> 700210732899990
        107.329 (
        %span.sortkey{:style => "display:none"}> 70002200
        2.2%)
      %td
        %span.sortkey{:style => "display:none"}> 70042999600
        29,996
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997400
          0.740
      %td 99%
      %td
        %span.sortkey{:style => "display:none"}> 69994800
        0.48%
      %td
        %span.sortkey{:style => "display:none"}> 700180100999990
        80.1
    %tr
      %td
        %a.image{:href => "/wiki/File:Flag_of_Goi%C3%A1s.svg"}
          %img.thumbborder{:alt => "Flag of Goiás.svg", "data-file-height" => "1050", "data-file-width" => "1500", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/b/be/Flag_of_Goi%C3%A1s.svg/45px-Flag_of_Goi%C3%A1s.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/b/be/Flag_of_Goi%C3%A1s.svg/68px-Flag_of_Goi%C3%A1s.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/be/Flag_of_Goi%C3%A1s.svg/90px-Flag_of_Goi%C3%A1s.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Goi%C3%A1s", :title => "Goiás"} Goiás
      %td GO
      %td
        %a{:href => "/wiki/Goi%C3%A2nia", :title => "Goiânia"} Goiânia
      %td
        %span.sortkey{:style => "display:none"}> 70053400867
        340,086.7
      %td
        %span.sortkey{:style => "display:none"}> 70051313100
        131,310
      %td
        %span.sortkey{:style => "display:none"}> 70066523222
        6,523,222
      %td
        %span.sortkey{:style => "display:none"}> 700117650999990
        17.65
      %td
        %span.sortkey{:style => "display:none"}> 70014900
        49
      %td
        %span.sortkey{:style => "display:none"}> 70021239260
        123.926 (
        %span.sortkey{:style => "display:none"}> 70002400
        2.4%)
      %td
        %span.sortkey{:style => "display:none"}> 70042013400
        20,134
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997350
          0.735
      %td 97%
      %td
        %span.sortkey{:style => "display:none"}> 69999000
        0.9%
      %td
        %span.sortkey{:style => "display:none"}> 70017590
        75.9
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Maranh%C3%A3o.svg"}
          %img.thumbborder{:alt => "Bandeira do Maranhão.svg", "data-file-height" => "900", "data-file-width" => "1350", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/4/45/Bandeira_do_Maranh%C3%A3o.svg/45px-Bandeira_do_Maranh%C3%A3o.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/4/45/Bandeira_do_Maranh%C3%A3o.svg/68px-Bandeira_do_Maranh%C3%A3o.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/45/Bandeira_do_Maranh%C3%A3o.svg/90px-Bandeira_do_Maranh%C3%A3o.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Maranh%C3%A3o", :title => "Maranhão"} Maranhão
      %td MA
      %td
        %a{:href => "/wiki/S%C3%A3o_Lu%C3%ADs,_Maranh%C3%A3o", :title => "São Luís, Maranhão"} São Luís
      %td
        %span.sortkey{:style => "display:none"}> 70053319833
        331,983.3
      %td
        %span.sortkey{:style => "display:none"}> 70051281800
        128,180
      %td
        %span.sortkey{:style => "display:none"}> 70066850884
        6,850,884
      %td
        %span.sortkey{:style => "display:none"}> 700119810999990
        19.81
      %td
        %span.sortkey{:style => "display:none"}> 70015300
        53
      %td
        %span.sortkey{:style => "display:none"}> 70015892
        58.920 (
        %span.sortkey{:style => "display:none"}> 70001200
        1.2%)
      %td
        %span.sortkey{:style => "display:none"}> 70038760
        8,760
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996390
          0.639
      %td 90%
      %td
        %span.sortkey{:style => "display:none"}> 70001900
        1.9%
      %td
        %span.sortkey{:style => "display:none"}> 70017250
        72.5
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Mato_Grosso.svg"}
          %img.thumbborder{:alt => "Bandeira de Mato Grosso.svg", "data-file-height" => "1400", "data-file-width" => "2000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Bandeira_de_Mato_Grosso.svg/45px-Bandeira_de_Mato_Grosso.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Bandeira_de_Mato_Grosso.svg/68px-Bandeira_de_Mato_Grosso.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Bandeira_de_Mato_Grosso.svg/90px-Bandeira_de_Mato_Grosso.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Mato_Grosso", :title => "Mato Grosso"} Mato Grosso
      %td MT
      %td
        %a{:href => "/wiki/Cuiab%C3%A1", :title => "Cuiabá"} Cuiabá
      %td
        %span.sortkey{:style => "display:none"}> 70059033579
        903,357.9
      %td
        %span.sortkey{:style => "display:none"}> 70053487900
        348,790
      %td
        %span.sortkey{:style => "display:none"}> 70063224357
        3,224,357
      %td
        %span.sortkey{:style => "display:none"}> 70003360
        3.36
      %td
        %span.sortkey{:style => "display:none"}> 70009000
        9
      %td
        %span.sortkey{:style => "display:none"}> 70018083
        80.830 (
        %span.sortkey{:style => "display:none"}> 70001500
        1.5%)
      %td
        %span.sortkey{:style => "display:none"}> 70042594500
        25,945
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997250
          0.725
      %td 94%
      %td
        %span.sortkey{:style => "display:none"}> 70001300
        1.3%
      %td
        %span.sortkey{:style => "display:none"}> 700174600999990
        74.6
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Mato_Grosso_do_Sul.svg"}
          %img.thumbborder{:alt => "Bandeira de Mato Grosso do Sul.svg", "data-file-height" => "700", "data-file-width" => "1000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Bandeira_de_Mato_Grosso_do_Sul.svg/45px-Bandeira_de_Mato_Grosso_do_Sul.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Bandeira_de_Mato_Grosso_do_Sul.svg/68px-Bandeira_de_Mato_Grosso_do_Sul.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/64/Bandeira_de_Mato_Grosso_do_Sul.svg/90px-Bandeira_de_Mato_Grosso_do_Sul.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Mato_Grosso_do_Sul", :title => "Mato Grosso do Sul"} Mato Grosso do Sul
      %td MS
      %td
        %a{:href => "/wiki/Campo_Grande", :title => "Campo Grande"} Campo Grande
      %td
        %span.sortkey{:style => "display:none"}> 70053571250
        357,125.0
      %td
        %span.sortkey{:style => "display:none"}> 70051378900
        137,890
      %td
        %span.sortkey{:style => "display:none"}> 70062619657
        2,619,657
      %td
        %span.sortkey{:style => "display:none"}> 70006860
        6.86
      %td
        %span.sortkey{:style => "display:none"}> 70011900
        19
      %td
        %span.sortkey{:style => "display:none"}> 7001544710000099999♠
        54.471 (
        %span.sortkey{:style => "display:none"}> 70001000
        1.0%)
      %td
        %span.sortkey{:style => "display:none"}> 70042174400
        21,744
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997290
          0.729
      %td 97%
      %td
        %span.sortkey{:style => "display:none"}> 69997000
        0.7%
      %td
        %span.sortkey{:style => "display:none"}> 700176100999990
        76.1
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Minas_Gerais.svg"}
          %img.thumbborder{:alt => "Bandeira de Minas Gerais.svg", "data-file-height" => "420", "data-file-width" => "600", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Bandeira_de_Minas_Gerais.svg/45px-Bandeira_de_Minas_Gerais.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Bandeira_de_Minas_Gerais.svg/68px-Bandeira_de_Minas_Gerais.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Bandeira_de_Minas_Gerais.svg/90px-Bandeira_de_Minas_Gerais.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Minas_Gerais", :title => "Minas Gerais"} Minas Gerais
      %td MG
      %td
        %a{:href => "/wiki/Belo_Horizonte", :title => "Belo Horizonte"} Belo Horizonte
      %td
        %span.sortkey{:style => "display:none"}> 70055865283
        586,528.3
      %td
        %span.sortkey{:style => "display:none"}> 70052264600
        226,460
      %td
        %span.sortkey{:style => "display:none"}> 700720734097
        20,734,097
      %td
        %span.sortkey{:style => "display:none"}> 7001334109999999999♠
        33.41
      %td
        %span.sortkey{:style => "display:none"}> 70019100
        91
      %td
        %span.sortkey{:style => "display:none"}> 70024035510
        403.551 (
        %span.sortkey{:style => "display:none"}> 7000920000000099999♠
        9.2%)
      %td
        %span.sortkey{:style => "display:none"}> 70042032400
        20,324
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997310
          0.731
      %td 98.6%
      %td
        %span.sortkey{:style => "display:none"}> 69996100
        0.61%
      %td
        %span.sortkey{:style => "display:none"}> 70017870
        78.7
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Par%C3%A1.svg"}
          %img.thumbborder{:alt => "Bandeira do Pará.svg", "data-file-height" => "600", "data-file-width" => "900", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Bandeira_do_Par%C3%A1.svg/45px-Bandeira_do_Par%C3%A1.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Bandeira_do_Par%C3%A1.svg/68px-Bandeira_do_Par%C3%A1.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/02/Bandeira_do_Par%C3%A1.svg/90px-Bandeira_do_Par%C3%A1.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Par%C3%A1", :title => "Pará"} Pará
      %td PA
      %td
        %a{:href => "/wiki/Bel%C3%A9m", :title => "Belém"} Belém
      %td
        %span.sortkey{:style => "display:none"}> 700612476895
        1,247,689.5
      %td
        %span.sortkey{:style => "display:none"}> 70054817400
        481,740
      %td
        %span.sortkey{:style => "display:none"}> 70068073924
        8,073,924
      %td
        %span.sortkey{:style => "display:none"}> 70006070
        6.07
      %td
        %span.sortkey{:style => "display:none"}> 70011600
        16
      %td
        %span.sortkey{:style => "display:none"}> 70019100900
        91.009 (
        %span.sortkey{:style => "display:none"}> 70001900
        1.9%)
      %td
        %span.sortkey{:style => "display:none"}> 70041167800
        11,678
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996460
          0.646
      %td 94%
      %td
        %span.sortkey{:style => "display:none"}> 70001600
        1.6%
      %td
        %span.sortkey{:style => "display:none"}> 70017420
        74.2
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_da_Para%C3%ADba.svg"}
          %img.thumbborder{:alt => "Bandeira da Paraíba.svg", "data-file-height" => "1400", "data-file-width" => "2000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Bandeira_da_Para%C3%ADba.svg/45px-Bandeira_da_Para%C3%ADba.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Bandeira_da_Para%C3%ADba.svg/68px-Bandeira_da_Para%C3%ADba.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Bandeira_da_Para%C3%ADba.svg/90px-Bandeira_da_Para%C3%ADba.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Para%C3%ADba", :title => "Paraíba"} Paraíba
      %td PB
      %td
        %a{:href => "/wiki/Jo%C3%A3o_Pessoa,_Para%C3%ADba", :title => "João Pessoa, Paraíba"} João Pessoa
      %td
        %span.sortkey{:style => "display:none"}> 70045643980
        56,439.8
      %td
        %span.sortkey{:style => "display:none"}> 70042179200
        21,792
      %td
        %span.sortkey{:style => "display:none"}> 70063943885
        3,943,885
      %td
        %span.sortkey{:style => "display:none"}> 70016670
        66.70
      %td
        %span.sortkey{:style => "display:none"}> 70021800
        180
      %td
        %span.sortkey{:style => "display:none"}> 70013873100
        38.731 (
        %span.sortkey{:style => "display:none"}> 69998000
        0.8%)
      %td
        %span.sortkey{:style => "display:none"}> 70041015100
        10,151
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996580
          0.658
      %td 92%
      %td
        %span.sortkey{:style => "display:none"}> 70001700
        1.7%
      %td
        %span.sortkey{:style => "display:none"}> 700174100999990
        74.1
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Paran%C3%A1.svg"}
          %img.thumbborder{:alt => "Bandeira do Paraná.svg", "data-file-height" => "1400", "data-file-width" => "2000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/9/93/Bandeira_do_Paran%C3%A1.svg/45px-Bandeira_do_Paran%C3%A1.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/9/93/Bandeira_do_Paran%C3%A1.svg/68px-Bandeira_do_Paran%C3%A1.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/93/Bandeira_do_Paran%C3%A1.svg/90px-Bandeira_do_Paran%C3%A1.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Paran%C3%A1_(state)", :title => "Paraná (state)"} Paraná
      %td PR
      %td
        %a{:href => "/wiki/Curitiba", :title => "Curitiba"} Curitiba
      %td
        %span.sortkey{:style => "display:none"}> 70051993149
        199,314.9
      %td
        %span.sortkey{:style => "display:none"}> 70047695600
        76,956
      %td
        %span.sortkey{:style => "display:none"}> 700711081692
        11,081,692
      %td
        %span.sortkey{:style => "display:none"}> 70015240
        52.40
      %td
        %span.sortkey{:style => "display:none"}> 70021430
        143
      %td
        %span.sortkey{:style => "display:none"}> 70022559270
        255.927 (
        %span.sortkey{:style => "display:none"}> 70005800
        5.8%)
      %td
        %span.sortkey{:style => "display:none"}> 70042419400
        24,194
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997490
          0.749
      %td 98%
      %td
        %span.sortkey{:style => "display:none"}> 69997000
        0.7%
      %td
        %span.sortkey{:style => "display:none"}> 70017780
        77.8
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Pernambuco.svg"}
          %img.thumbborder{:alt => "Bandeira de Pernambuco.svg", "data-file-height" => "700", "data-file-width" => "1000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bandeira_de_Pernambuco.svg/45px-Bandeira_de_Pernambuco.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bandeira_de_Pernambuco.svg/68px-Bandeira_de_Pernambuco.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bandeira_de_Pernambuco.svg/90px-Bandeira_de_Pernambuco.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Pernambuco", :title => "Pernambuco"} Pernambuco
      %td PE
      %td
        %a{:href => "/wiki/Recife", :title => "Recife"} Recife
      %td
        %span.sortkey{:style => "display:none"}> 70049831160
        98,311.6
      %td
        %span.sortkey{:style => "display:none"}> 70043795800
        37,958
      %td
        %span.sortkey{:style => "display:none"}> 70069277727
        9,277,727
      %td
        %span.sortkey{:style => "display:none"}> 70018962
        89.62
      %td
        %span.sortkey{:style => "display:none"}> 70022440
        244
      %td
        %span.sortkey{:style => "display:none"}> 70021173400
        117.340 (
        %span.sortkey{:style => "display:none"}> 7000230000000099999♠
        2.3%)
      %td
        %span.sortkey{:style => "display:none"}> 70041313800
        13,138
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996730
          0.673
      %td 92%
      %td
        %span.sortkey{:style => "display:none"}> 70001900
        1.9%
      %td
        %span.sortkey{:style => "display:none"}> 70017480
        74.8
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Piau%C3%AD.svg"}
          %img.thumbborder{:alt => "Bandeira do Piauí.svg", "data-file-height" => "1300", "data-file-width" => "1950", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bandeira_do_Piau%C3%AD.svg/45px-Bandeira_do_Piau%C3%AD.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bandeira_do_Piau%C3%AD.svg/68px-Bandeira_do_Piau%C3%AD.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bandeira_do_Piau%C3%AD.svg/90px-Bandeira_do_Piau%C3%AD.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Piau%C3%AD", :title => "Piauí"} Piauí
      %td PI
      %td
        %a{:href => "/wiki/Teresina", :title => "Teresina"} Teresina
      %td
        %span.sortkey{:style => "display:none"}> 70052515292
        251,529.2
      %td
        %span.sortkey{:style => "display:none"}> 70049772600
        97,726
      %td
        %span.sortkey{:style => "display:none"}> 70063194178
        3,194,178
      %td
        %span.sortkey{:style => "display:none"}> 70011240
        12.4
      %td
        %span.sortkey{:style => "display:none"}> 70013200
        32
      %td
        %span.sortkey{:style => "display:none"}> 70012572100
        25.721 (
        %span.sortkey{:style => "display:none"}> 69995000
        0.5%)
      %td
        %span.sortkey{:style => "display:none"}> 70038137
        8,137
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996460
          0.646
      %td 90%
      %td
        %span.sortkey{:style => "display:none"}> 70001800
        1.8%
      %td
        %span.sortkey{:style => "display:none"}> 70017270
        72.7
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_estado_do_Rio_de_Janeiro.svg"}
          %img.thumbborder{:alt => "Bandeira do estado do Rio de Janeiro.svg", "data-file-height" => "700", "data-file-width" => "1000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Bandeira_do_estado_do_Rio_de_Janeiro.svg/45px-Bandeira_do_estado_do_Rio_de_Janeiro.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Bandeira_do_estado_do_Rio_de_Janeiro.svg/68px-Bandeira_do_estado_do_Rio_de_Janeiro.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/73/Bandeira_do_estado_do_Rio_de_Janeiro.svg/90px-Bandeira_do_estado_do_Rio_de_Janeiro.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Rio_de_Janeiro_(state)", :title => "Rio de Janeiro (state)"} Rio de Janeiro
      %td RJ
      %td
        %a{:href => "/wiki/Rio_de_Janeiro", :title => "Rio de Janeiro"} Rio de Janeiro
      %td
        %span.sortkey{:style => "display:none"}> 70044369610
        43,696.1
      %td
        %span.sortkey{:style => "display:none"}> 70041687100
        16,871
      %td
        %span.sortkey{:style => "display:none"}> 700716461173
        16,461,173
      %td
        %span.sortkey{:style => "display:none"}> 70023652300
        365.23
      %td
        %span.sortkey{:style => "display:none"}> 70029750
        975
      %td
        %span.sortkey{:style => "display:none"}> 70025042210
        504.221 (
        %span.sortkey{:style => "display:none"}> 70011150
        11.5%)
      %td
        %span.sortkey{:style => "display:none"}> 70043106400
        31,064
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997610
          0.761
      %td 99%
      %td
        %span.sortkey{:style => "display:none"}> 70001300
        1.3%
      %td
        %span.sortkey{:style => "display:none"}> 700177100999990
        77.1
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Rio_Grande_do_Norte.svg"}
          %img.thumbborder{:alt => "Bandeira do Rio Grande do Norte.svg", "data-file-height" => "600", "data-file-width" => "900", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/3/30/Bandeira_do_Rio_Grande_do_Norte.svg/45px-Bandeira_do_Rio_Grande_do_Norte.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/3/30/Bandeira_do_Rio_Grande_do_Norte.svg/68px-Bandeira_do_Rio_Grande_do_Norte.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/30/Bandeira_do_Rio_Grande_do_Norte.svg/90px-Bandeira_do_Rio_Grande_do_Norte.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Rio_Grande_do_Norte", :title => "Rio Grande do Norte"} Rio Grande do Norte
      %td RN
      %td
        %a{:href => "/wiki/Natal,_Rio_Grande_do_Norte", :title => "Natal, Rio Grande do Norte"} Natal
      %td
        %span.sortkey{:style => "display:none"}> 70045279680
        52,796.8
      %td
        %span.sortkey{:style => "display:none"}> 70042038500
        20,385
      %td
        %span.sortkey{:style => "display:none"}> 70063408510
        3,408,510
      %td
        %span.sortkey{:style => "display:none"}> 70015999
        59.99
      %td
        %span.sortkey{:style => "display:none"}> 70021670
        167
      %td
        %span.sortkey{:style => "display:none"}> 700139544999990
        39.544 (
        %span.sortkey{:style => "display:none"}> 69999000
        0.9%)
      %td
        %span.sortkey{:style => "display:none"}> 70041224900
        12,249
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996840
          0.684
      %td 95.1%
      %td
        %span.sortkey{:style => "display:none"}> 7000137990000099999♠
        1.38%
      %td
        %span.sortkey{:style => "display:none"}> 70017670
        76.7
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Rio_Grande_do_Sul.svg"}
          %img.thumbborder{:alt => "Bandeira do Rio Grande do Sul.svg", "data-file-height" => "700", "data-file-width" => "1000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/6/63/Bandeira_do_Rio_Grande_do_Sul.svg/45px-Bandeira_do_Rio_Grande_do_Sul.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/6/63/Bandeira_do_Rio_Grande_do_Sul.svg/68px-Bandeira_do_Rio_Grande_do_Sul.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/63/Bandeira_do_Rio_Grande_do_Sul.svg/90px-Bandeira_do_Rio_Grande_do_Sul.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Rio_Grande_do_Sul", :title => "Rio Grande do Sul"} Rio Grande do Sul
      %td RS
      %td
        %a{:href => "/wiki/Porto_Alegre", :title => "Porto Alegre"} Porto Alegre
      %td
        %span.sortkey{:style => "display:none"}> 70052817485
        281,748.5
      %td
        %span.sortkey{:style => "display:none"}> 70051087800
        108,780
      %td
        %span.sortkey{:style => "display:none"}> 700711207274
        11,207,274
      %td
        %span.sortkey{:style => "display:none"}> 70013796
        37.96
      %td
        %span.sortkey{:style => "display:none"}> 70021030
        103
      %td
        %span.sortkey{:style => "display:none"}> 70022776580
        277.658 (
        %span.sortkey{:style => "display:none"}> 70006300
        6.3%)
      %td
        %span.sortkey{:style => "display:none"}> 70042577900
        25,779
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997460
          0.746
      %td 99%
      %td
        %span.sortkey{:style => "display:none"}> 69994000
        0.4%
      %td
        %span.sortkey{:style => "display:none"}> 70017930
        79.3
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Rond%C3%B4nia.svg"}
          %img.thumbborder{:alt => "Bandeira de Rondônia.svg", "data-file-height" => "1400", "data-file-width" => "2000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Bandeira_de_Rond%C3%B4nia.svg/45px-Bandeira_de_Rond%C3%B4nia.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Bandeira_de_Rond%C3%B4nia.svg/68px-Bandeira_de_Rond%C3%B4nia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Bandeira_de_Rond%C3%B4nia.svg/90px-Bandeira_de_Rond%C3%B4nia.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Rond%C3%B4nia", :title => "Rondônia"} Rondônia
      %td RO
      %td
        %a{:href => "/wiki/Porto_Velho", :title => "Porto Velho"} Porto Velho
      %td
        %span.sortkey{:style => "display:none"}> 70052375762
        237,576.2
      %td
        %span.sortkey{:style => "display:none"}> 70049172900
        91,729
      %td
        %span.sortkey{:style => "display:none"}> 70061748531
        1,748,531
      %td
        %span.sortkey{:style => "display:none"}> 70006580
        6.58
      %td
        %span.sortkey{:style => "display:none"}> 70011900
        19
      %td
        %span.sortkey{:style => "display:none"}> 70012936200
        29.362 (
        %span.sortkey{:style => "display:none"}> 69996000
        0.6%)
      %td
        %span.sortkey{:style => "display:none"}> 70041307500
        13,075
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 699969000999990
          0.690
      %td 94.6%
      %td
        %span.sortkey{:style => "display:none"}> 70001850
        1.85%
      %td
        %span.sortkey{:style => "display:none"}> 70017370
        73.7
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Roraima.svg"}
          %img.thumbborder{:alt => "Bandeira de Roraima.svg", "data-file-height" => "600", "data-file-width" => "900", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Bandeira_de_Roraima.svg/45px-Bandeira_de_Roraima.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Bandeira_de_Roraima.svg/68px-Bandeira_de_Roraima.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/98/Bandeira_de_Roraima.svg/90px-Bandeira_de_Roraima.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Roraima", :title => "Roraima"} Roraima
      %td RR
      %td
        %a{:href => "/wiki/Boa_Vista,_Roraima", :title => "Boa Vista, Roraima"} Boa Vista
      %td
        %span.sortkey{:style => "display:none"}> 70052242990
        224,299.0
      %td
        %span.sortkey{:style => "display:none"}> 70048660200
        86,602
      %td
        %span.sortkey{:style => "display:none"}> 70054969360
        496,936
      %td
        %span.sortkey{:style => "display:none"}> 7000200999999999999♠
        2.01
      %td
        %span.sortkey{:style => "display:none"}> 70005000
        5
      %td
        %span.sortkey{:style => "display:none"}> 70007314
        7.314 (
        %span.sortkey{:style => "display:none"}> 69992000
        0.2%)
      %td
        %span.sortkey{:style => "display:none"}> 70041555700
        15,557
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997070
          0.707
      %td 94.5%
      %td
        %span.sortkey{:style => "display:none"}> 70001510
        1.51%
      %td
        %span.sortkey{:style => "display:none"}> 70017350
        73.5
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Santa_Catarina.svg"}
          %img.thumbborder{:alt => "Bandeira de Santa Catarina.svg", "data-file-height" => "432", "data-file-width" => "595", :height => "33", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Bandeira_de_Santa_Catarina.svg/45px-Bandeira_de_Santa_Catarina.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Bandeira_de_Santa_Catarina.svg/68px-Bandeira_de_Santa_Catarina.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Bandeira_de_Santa_Catarina.svg/90px-Bandeira_de_Santa_Catarina.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Santa_Catarina_(state)", :title => "Santa Catarina (state)"} Santa Catarina
      %td SC
      %td
        %a{:href => "/wiki/Florian%C3%B3polis", :title => "Florianópolis"} Florianópolis
      %td
        %span.sortkey{:style => "display:none"}> 70049534620
        95,346.2
      %td
        %span.sortkey{:style => "display:none"}> 70043681300
        36,813
      %td
        %span.sortkey{:style => "display:none"}> 70066727148
        6,727,148
      %td
        %span.sortkey{:style => "display:none"}> 70016526900
        65.27
      %td
        %span.sortkey{:style => "display:none"}> 70021820
        182
      %td
        %span.sortkey{:style => "display:none"}> 70021772760
        177.276 (
        %span.sortkey{:style => "display:none"}> 70004000
        4.0%)
      %td
        %span.sortkey{:style => "display:none"}> 70042777100
        27,771
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997740
          0.774
      %td 99%
      %td
        %span.sortkey{:style => "display:none"}> 69993000
        0.30%
      %td
        %span.sortkey{:style => "display:none"}> 70018100
        81
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_estado_de_S%C3%A3o_Paulo.svg"}
          %img.thumbborder{:alt => "Bandeira do estado de São Paulo.svg", "data-file-height" => "520", "data-file-width" => "780", :height => "30", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Bandeira_do_estado_de_S%C3%A3o_Paulo.svg/45px-Bandeira_do_estado_de_S%C3%A3o_Paulo.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Bandeira_do_estado_de_S%C3%A3o_Paulo.svg/68px-Bandeira_do_estado_de_S%C3%A3o_Paulo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Bandeira_do_estado_de_S%C3%A3o_Paulo.svg/90px-Bandeira_do_estado_de_S%C3%A3o_Paulo.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/S%C3%A3o_Paulo_(state)", :title => "São Paulo (state)"} São Paulo
      %td SP
      %td
        %a{:href => "/wiki/S%C3%A3o_Paulo", :title => "São Paulo"} São Paulo
      %td
        %span.sortkey{:style => "display:none"}> 70052482094
        248,209.4
      %td
        %span.sortkey{:style => "display:none"}> 70049583400
        95,834
      %td
        %span.sortkey{:style => "display:none"}> 700744035304
        44,035,304
      %td
        %span.sortkey{:style => "display:none"}> 70021662300
        166.23
      %td
        %span.sortkey{:style => "display:none"}> 70024590
        459
      %td
        %span.sortkey{:style => "display:none"}> 70031408904
        1,408.904 (
        %span.sortkey{:style => "display:none"}> 70013210
        32.1%)
      %td
        %span.sortkey{:style => "display:none"}> 70043362400
        33,624
      %td
        %span{:style => "color:#009900;"}
          %span.sortkey{:style => "display:none"}> 69997830
          0.783
      %td 99%
      %td
        %span.sortkey{:style => "display:none"}> 69994500
        0.45%
      %td
        %span.sortkey{:style => "display:none"}> 70017980
        79.8
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_de_Sergipe.svg"}
          %img.thumbborder{:alt => "Bandeira de Sergipe.svg", "data-file-height" => "700", "data-file-width" => "1000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/b/be/Bandeira_de_Sergipe.svg/45px-Bandeira_de_Sergipe.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/b/be/Bandeira_de_Sergipe.svg/68px-Bandeira_de_Sergipe.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/be/Bandeira_de_Sergipe.svg/90px-Bandeira_de_Sergipe.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Sergipe", :title => "Sergipe"} Sergipe
      %td SE
      %td
        %a{:href => "/wiki/Aracaju", :title => "Aracaju"} Aracaju
      %td
        %span.sortkey{:style => "display:none"}> 70042191030
        21,910.3
      %td
        %span.sortkey{:style => "display:none"}> 70038459600
        8,459.6
      %td
        %span.sortkey{:style => "display:none"}> 70062219514
        2,219,514
      %td
        %span.sortkey{:style => "display:none"}> 70019436
        94.36
      %td
        %span.sortkey{:style => "display:none"}> 70022620
        262
      %td
        %span.sortkey{:style => "display:none"}> 70012782300
        27.823 (
        %span.sortkey{:style => "display:none"}> 69996000
        0.6%)
      %td
        %span.sortkey{:style => "display:none"}> 70041318
        13,180
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996650
          0.665
      %td 93%
      %td
        %span.sortkey{:style => "display:none"}> 70001800
        1.8%
      %td
        %span.sortkey{:style => "display:none"}> 70017300
        73.0
    %tr
      %td
        %a.image{:href => "/wiki/File:Bandeira_do_Tocantins.svg"}
          %img.thumbborder{:alt => "Bandeira do Tocantins.svg", "data-file-height" => "1400", "data-file-width" => "2000", :height => "32", :src => "//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Bandeira_do_Tocantins.svg/45px-Bandeira_do_Tocantins.svg.png", :srcset => "//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Bandeira_do_Tocantins.svg/68px-Bandeira_do_Tocantins.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Bandeira_do_Tocantins.svg/90px-Bandeira_do_Tocantins.svg.png 2x", :width => "45"}/
      %td
        %a{:href => "/wiki/Tocantins", :title => "Tocantins"} Tocantins
      %td TO
      %td
        %a{:href => "/wiki/Palmas,_Tocantins", :title => "Palmas, Tocantins"} Palmas
      %td
        %span.sortkey{:style => "display:none"}> 70052776209
        277,620.9
      %td
        %span.sortkey{:style => "display:none"}> 70051071900
        107,190
      %td
        %span.sortkey{:style => "display:none"}> 70061496880
        1,496,880
      %td
        %span.sortkey{:style => "display:none"}> 70004980
        4.98
      %td
        %span.sortkey{:style => "display:none"}> 70011300
        13
      %td
        %span.sortkey{:style => "display:none"}> 70011953
        19.530 (
        %span.sortkey{:style => "display:none"}> 69994000
        0.4%)
      %td
        %span.sortkey{:style => "display:none"}> 70041377500
        13,775
      %td
        %span{:style => "color:#ffcc00;"}
          %span.sortkey{:style => "display:none"}> 69996990
          0.699
      %td 94%
      %td
        %span.sortkey{:style => "display:none"}> 70001700
        1.7%
      %td
        %span.sortkey{:style => "display:none"}> 70017450
        74.5
  %tfoot