%h1 Contact us
%hr
%h2
  %a{:href => "mailto:aquitemmaisbrasil@gmail.com"}
    aquitemmaisbrasil@gmail.com

%h2 +1 (508)820-0001 ext.: 113
%h2 100 Mt Wayte Ave, Framingham, MA 01702
%hr
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11806.122477555271!2d-71.431519!3d42.288542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x18c5141ae83fc2da!2sWsro+Am!5e0!3m2!1sen!2sus!4v1504554604650", :style => "border:0", :width => "100%"}
%hr