/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 /*
 *= require_tree .
 *= require_self
 */
// @import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  background-image: url(asset_path('framinham_university2.jpg'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100%;
}
nav:hover {
  color: white;
}

.container{
  color: #557323;
  font-family: 'Playfair Display', serif;
}
li a {
  font-size: 14pt;
}
.title, .days_number {
  font-family: 'Lobster', cursive;
}
p {
  line-height: 2em;
}
h3 {
  line-height: 40em;
}
.days{
  text-align: center;
  border-bottom: 5px solid #ddd;
}
.days_number {
  font-size: 70pt;
}

.new_member {
  border-left: 5px solid #ddd;
  padding: 5px;
  padding-left: 15px;
}

input[type=text], select{
  border-radius: 10px;
  border: 0px solid #ddd;
  border-bottom: 3px solid #ddd;
  height: 60px;
  padding: 8px;
  background: #fafafa;
}
input[type=text]{
  width: 100%;
}
