// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.states-table, td, {
  font-size: 10pt !important;
}
.states-table > th {
  font-size: 8pt !important;
}
.states-table a {
  font-size: 8pt !important;
}